{{!-- <div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{post.id}}</h2>
  </div>
  <div class="col-md-6">
    <h2>{{post.title}}</h2>
    <h3>TITLE HERE</h3>
    <a href={{post.image}}></a>
  </div>
</div> --}}

<section class="card">
  <a href="{{}}">
    <header>{{name}}</header>
    <img src="/images/{{paintings.[0].filename}}" alt="{{paintings.[0].description}}">
  </a>
</section>

<p>HELLO</p>