<ul class="list-group mt-3">
    {{#each posts as |post| }}
        <li class="list-group-item">
            <img src="{{this.image}}" class="cover-image">
            <div class="d-flex justify-content-between">
                <h4>{{ post.title }} by {{post.user.username}}</h4>
                <div>
                    <span id="upvote-post-{{post.id}}" class="badge bg-primary">Upvotes: {{ post.upvote }}</span>
                    <br/>
                    <button class="btn btn-secondary btn-sm" onclick="upvotePost('{{ post.id }}')">👍 Like</button>
                </div>
            </div>
            <p>{{ post.content }}</p>
        </li>
    {{/each}}
</ul>


<script src="/js/feed.js"></script>
