<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Filter
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/feed/recent">Recent</a></li>
    <li><a class="dropdown-item" href="/feed/popular">Popular</a></li>
  </ul>
</div>
{{#if singleQuery}}
<ul class="list-group mt-3">
    <li class="list-group-item">
        <img src="{{post.image}}" class="cover-image-lg">
        <div class="d-flex justify-content-between">
            <h4>{{ post.title }} by {{post.user.username}}</h4>
            <div>
                <span id="upvote-post-{{post.id}}" class="badge bg-primary">Upvotes: {{ post.upvote }}</span>
                <br/>
                <button class="btn btn-secondary btn-sm" onclick="upvotePost('{{ post.id }}')">👍 Like</button>
            </div>
        </div>
        <p>{{ post.content }}</p>
    </li>
</ul>
{{else}}
<ul class="list-group mt-3">
    {{#each posts as |post| }}
        <li class="list-group-item">
            <a href="/feed/{{this.id}}" id="post-link">
                <img src="{{this.image}}" class="cover-image">
                <div class="d-flex justify-content-between">
                    <h4>{{ post.title }} by <a href="#" class="user-link" data-user-id="{{ post.user.id }}">@{{ post.user.username }}</a></h4>
                    <div>
                        <span id="upvote-post-{{post.id}}" class="badge bg-primary">Upvotes: {{ post.upvote }}</span>
                        <br/>
                        <button class="btn btn-secondary btn-sm" onclick="upvotePost('{{ post.id }}')">👍 Like</button>
                    </div>
                </div>
            </a>
        </li>
    {{/each}}
</ul>
{{/if}}
<script src="/js/feed.js"></script>
